<% provide :title, "Have ランキング" %>
<% provide :ranking_type, "Have" %>

<h1><%= yield :ranking_type %>ランキング</h1>

<%= render 'rankings/ranking', items: @items, ranking_counts: @ranking_counts, count: @count %>